

.col-sm-8{
    margin-top: 1rem;
}

/* body{
    background-color: black;
    color: white;
} */

img{
    width:100%;
}

.upRight{
    
    padding-left: 3rem;;
}

.col-sm-4{
    margin-top:5rem;
}